@media screen and (min-width: 768px) {
    .album-card {
      width: 800px; /* Adjust the fixed width as needed */
      margin: 0 auto; /* Center the card horizontally */
    }
  }
.album-card {
    margin: 0 auto; 
    margin-top:10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .album-card:hover {
    transform: scale(1.05);
  }
  
  .album-cover {
    flex: 1;
    margin-right: 20px;
  }
  
  .album-cover img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .album-details {
    flex: 2;
    padding: 10px;
  }
  
  h3 {
    font-size: 1.8rem;
    margin: 0;
    color: #333;
  }
  
  p {
    font-size: 1.4rem;
    margin: 5px 0;
    color: #777;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
    color: #0056b3;
  }
  